# Ignore Flutter/Dart files
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
*.iml
*.lock

# Ignore build files
build/
android/app/build/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Ignore local environment files
.env
.env.local

# Ignore OS-specific files
.DS_Store
Thumbs.db